body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}



#root {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


#pageTitle {
    color: #333;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    border-radius: 15px;
    margin: 10px;
}

#video{
    width: auto;
    height: auto;
}

#map {
    width: auto;
    height: auto;
}

#giftQRCode {
    margin: 20px;
    width: auto;
    height: auto;
}

#root h1 {
    font-size: 24px; /* Example font size */
    color: #ffcc00; /* Example text color */
    text-shadow: 2px 2px 4px #000; /* Example text border */
    animation: bounce 1s ease-in-out infinite;;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Add styling for the video title */
#video h2 {
    font-size: 18px; /* Example font size */
    color: #0bf6c7; /* Example text color */
    animation: fadeInAndHoldAndScroll 18s ease-in-out infinite;
    background-color: #f8f6f6;
}

@keyframes fadeInAndHoldAndScroll {
    0%, 20% {
        opacity: 0;
        transform: translateX(-100%);
    }
    30%, 50% {
        opacity: 1;
        transform: translateX(0);
    }
    70%, 100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Add styling for the map title */
#map h2 {
    font-size: 18px; /* Example font size */
    color: #ea02ff; /* Example text color */
    border: #000;
    border: radius 10px; ;
    text-shadow: 2px 2px 4px #f9f8f8; /* Example text border */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    background-color: #fbfbfb;
    animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Add styling for the QR code title */
#giftQRCode h2 {
    font-size: 18px; /* Example font size */
    color: #ddff03; /* Example text color */
    animation: slideAndHold 8s ease-in-out infinite;
    background-color: #000;
}

@keyframes slideAndHold {
    0%, 100% {
        transform: translateX(-100%);
    }
    20%, 40% {
        transform: translateX(0);
    }
    60%, 80% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    /* Add your mobile-specific styles here */
    #root h1 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
     #map h2 {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    .carousel img {
        max-width: 100%; /* Make images take full width on smaller screens */
        height: auto;
    }
}

